In [10]:

import pandas as pd

In [17]:
x = pd.DataFrame({'A': [1,2,3],
                  'B': [1,3,2],
                  'C': [1,1,2]})
col = x.columns
new_col = [str(x) + "_cat" for x in col]
cat = { 1 : 'alpha',2 : 'beta', 3 : 'gamma'}

In [18]:
x

   A  B  C
0  1  1  1
1  2  3  1
2  3  2  2

In [19]:
x[new_col] = x[col].applymap(cat.get)

In [20]:
x

   A  B  C  A_cat  B_cat  C_cat
0  1  1  1  alpha  alpha  alpha
1  2  3  1   beta  gamma  alpha
2  3  2  2  gamma   beta   beta